# General Practice with Pandas

In [1]:
import pandas as pd

df = pd.read_csv('../data/Titanic-Dataset.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
# Filter rows where Survived = 1 and Age > 25, return only Survived and Age columns
filtered = df[(df["Survived"] == 1) & (df["Age"] > 25)][["Survived", "Age"]]
print(filtered)

# Count the Total number of these (Means numbers of rows)
count = filtered.shape[0]
print(f"Total number of survived passengers that are older than 25 yeas old are: {count}")

     Survived   Age
1           1  38.0
2           1  26.0
3           1  35.0
8           1  27.0
11          1  58.0
..        ...   ...
866         1  27.0
871         1  47.0
874         1  28.0
879         1  56.0
889         1  26.0

[166 rows x 2 columns]
Total number of survived passengers that are older than 25 yeas old are: 166

In [3]:
# Return the first 10 rows with (Name, Sex, Age, and Survived) and align right
print(df[["Name", "Sex", "Age", "Survived"]].head(10))

                                                Name     Sex   Age  Survived
0                            Braund, Mr. Owen Harris    male  22.0         0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0         1
2                             Heikkinen, Miss. Laina  female  26.0         1
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0         1
4                           Allen, Mr. William Henry    male  35.0         0
5                                   Moran, Mr. James    male   NaN         0
6                            McCarthy, Mr. Timothy J    male  54.0         0
7                     Palsson, Master. Gosta Leonard    male   2.0         0
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0         1
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0         1

In [4]:
# Aggregation functions
# Get the mean of all numeric columns / Note you can do the same with (min, max,count, sum)
print(df.mean(numeric_only=True))

# Find the sum of all survived passengers
print(f"The sum of all those who survived: {df['Survived'].sum()}")

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64
The sum of all those who survived: 342

In [5]:
# Group survived passengers by Survived status and Sex, then count passengers and calculate average age
group = df[df["Survived"] == 1].groupby(["Survived", "Sex"]).agg({"Sex": "count", "Age": "mean"})
print(group)

                 Sex        Age
Survived Sex
1        female  233  28.847716
         male    109  27.276022

In [6]:
# Explore all the rows that contain NaN value
nan_rows = df[df.isna().any(axis=1)]
print(nan_rows)

# Explore all the columns that contain NaN value, we can use to_string() to show all the data
nan_columns = df.isna().any(axis=0)
print(nan_columns)

     PassengerId  Survived  Pclass                                      Name  \
0              1         0       3                   Braund, Mr. Owen Harris
2              3         1       3                    Heikkinen, Miss. Laina
4              5         0       3                  Allen, Mr. William Henry
5              6         0       3                          Moran, Mr. James
7              8         0       3            Palsson, Master. Gosta Leonard
..           ...       ...     ...                                       ...
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
4      male  35.0      0      0            373450   8.0500   NaN        S
5      male   NaN      0      0            330877   8.4583   NaN        Q
7      male   2.0      3      1            349909  21.0750   NaN        S
..      ...   ...    ...    ...               ...      ...   ...      ...
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
890    male  32.0      0      0            370376   7.7500   NaN        Q

[708 rows x 12 columns]
PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool